.garageSale {
    grid-area: gs;
}
.shoppingCart {
    grid-area: sc;
}
.checkout {
    grid-area: co;
}


.app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "gs sc"
        "gs co"
        "gs . ";
}
